<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <h2>Hello.</h2>
    <p>Someone requested a password reset for your account.</p>
    <p>If this was not you, please disregard this message.</p>
    <hr />
    <p>Follow this link to reset your password:</p>
    <a href="<%= url %>?ticket=<%= ticket %>">Reset Password</a>
    <p>Thanks,<br />The Team</p>
  </body>
</html>
